<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />

  <!-- Daterange picker -->
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css" />

  <!-- iCheck for checkboxes and radio inputs -->
  <link
    rel="stylesheet"
    href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
  />
  <!-- Tempusdominus Bootstrap 4 (Date Picker) -->
  <link rel="stylesheet"
  href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap 4.min.css
  />
  <!-- DataTables -->
  <link
    rel="stylesheet"
    href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"
  />
  <link
    rel="stylesheet"
    href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
  />
  <!-- Theme style (comes with Bootstrap) -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />

  <!-- Google Font: Source Sans Pro -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&am
 p;display=fallback"
  />
</head>
