<div style="float: left; width: 200px; padding-left: 10px">
    <ul style="list-style-type: none; padding: 0">
      <li><a href="/">Home</a></li>
      <li><a href="/customers/new">Create A New Customer</a></li>
      <li><a href="/customers/list">List Customers</a></li>
    </ul>
</div>
  
